*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

@font-face{
    font-family: 'MiFuente';
    src:url(../../tip/monserrat/Montserrat-Medium.ttf)
}

@font-face {
  font-family: 'tip_sobremí';
  src: url(../../tip/DancingScript/DancingScript-Medium.ttf);
}

@font-face{
    font-family: 'tip_proyecto';
    src:url(../../tip/Paprika/Paprika-Regular.ttf)
}

body {
    font-family: 'MiFuente';
    background-color: #f4f4f4;
    color:  #274b5c;
    }

header{
    background-color: #99d6d6;
    color: #fff;
    padding: 16px 20px;
}

.logo{
    font-size: 40px;
}

.logo span{
    color: #66aaaa;
 }
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.nav-list {
  display: flex;
  flex-direction: row; /* Ordena los ítems */
  list-style: none; /* Elimina los puntos */
  gap: 1.5rem; /* Espacio entre enlaces */
  margin: 0;
  padding: 0;
}
 .nav-list a {
  color: #274b5c;           /* Color del texto */
  text-decoration: none;  /* Quita el subrayado */
  font-weight: 600; 
  font-size: 15px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s
 }

 .nav-list a:hover{
  background-color: #66cccc;
  border-radius: 8px;
 }

.nav-list a.ruta {
  color: white;
 }

.menu-toggle{
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-toggle:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 700px){
    .menu-toggle {
        display: block;
    }

    .nav{
        display: none;
        background-color:#e8a87c;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 15px 20px;
        z-index: 100;
    }

    .nav-list{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 12px;
        padding: 0;
        margin: 0;
    }
    .nav.menudesplegado{
        display: flex;
    }

}
    
.sobre-mi {
  
  background-color: #fff;
  padding: 40px;
  border: 3px solid #e8a87c;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 1000px;
  font-family: 'tip_sobremí';
 
}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.descripcion {
  flex: 2;
  min-width: 250px;
  font-size: 30px;
  color: #333;
}

.descripcion h2 {
  margin-bottom: 15px;
  font-size: 40 px;
  color: #e8a87c;
}

.descripcion p {
  font-family: tip_proyecto;
   font-size: 16px;
   text-align: justify;

}

.video {
  flex: 1;
  min-width: 250px;
  border: 3px solid #e8a87c;
  border-radius: 20px;
  padding: 10px;
}

.video video {
  width: 100%;
  border-radius: 10px;
}

.sobre-mi {
  padding: 20px;
}

.contenido {
  flex-direction: column;
  align-items: center;
}

.descripcion, .video {
  text-align: center;
}