*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

@font-face{
    font-family: 'MiFuente';
    src:url(../tip/monserrat/Montserrat-Medium.ttf)
}

body {
    font-family: 'MiFuente';
    background-color: #f4f4f4;
    color: #66aaaa;;
}

header{
    background-color: #99d6d6;
    color: #fff;
    padding: 16px 20px;
    }

.logo{
    font-size: 60px;
}

.logo span{
    color: #66aaaa;
 }
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.nav-list {
  display: flex;
  flex-direction: row; /* Ordena los ítems */
  list-style: none; /* Elimina los puntos */
  gap: 2.5rem; /* Espacio entre enlaces */
  margin: 0;
  padding: 0;
}
 .nav-list a {
  color: #274b5c;           /* Color del texto */
  text-decoration: none;  /* Quita el subrayado */
  font-weight: 600; 
  font-size: 20px;
 }

.menu-toggle{
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-toggle:hover{
    transform: scale(1.1);
}

.contexto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  gap: 40px;
  background-color: #fff;
  flex-wrap: wrap;
}
.contexto-texto {
  flex: 1;
  min-width: 280px;
}

.contexto-texto h2 {
  font-size: 3.5rem;
  color:  #274b5c;
}

.contexto-texto h2 span {
  color:  #66aaaa;
}

.contexto-texto h3 {
  margin-top: 2.5rem;
  color:#274b5c;
  font-size: 2rem;
}
.contexto-texto p {
  margin-top: 2rem;
  color: #666;
  font-size: 1rem;
}

.contexto-imagen {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 250px;
}

.imagencirculo {
  background:  #66aaaa;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

.imagencirculo img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}